*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(270deg, #000080 20%, #2b42a2 48.76%, #87ceeb 97.52%);
}

#navbar1{
    position: sticky;
    top: 0;
    z-index: 2;
}

#logo{
    border-radius: 50%;
}

#logo2{
    border-radius: 50%;
}


section{
    height: 100vh;
}


#testimonial img{
    width: 100px;
    position: relative;
    left: 105px;
}

#land-btn{
    margin-left: 18em;
}

#education{
    padding-top: 45% !important;
}

#education img{
    width: 250px !important;
}
    
h2{
    color: #7e7eff;
}

/* #landing{
    position: relative;
    bottom: 95px;
} */



@media screen and (max-width: 575px) {
    #logo{
        display: none;
    }
    
    #logo2{
        border-radius: 50%;
        display: flex;
        justify-content: start;
    }
    
    #land-btn{
        margin-left: 33%;
    }

    #about p{
        font-size: 15px;
        padding: 5%;
    }

    #about{
        height: 100vh;
    }

    #testimonial{
        position: relative;
        bottom: 100px;
        padding-top: 0;
    }

    #testimonial img{
        width: 200px;
        position: relative;
        left: 65px;
    }
}



@media screen and(min-width: 321px) and (max-width: 720px) {
    #logo{
        display: none;
    }
    
    #logo2{
        border-radius: 50%;
        display: flex;
        justify-content: start;
    }
    
    #wrapper{
        width: auto;
    }

    #testimonials{
        position: relative;
        bottom: 100px;
    }

    section{
        height: 100vh;
    }

    #testimonial img{
        width: 200px;
        position: relative;
        left: 90px;
    }
    
}