*{
    box-sizing: border-box;
}

#navbar1{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f1f1f1;
    box-shadow: 0 1px 5cap #000;
}

#logo{
    border-radius: 50%;
    animation: logoAnime 3s infinite;
}

#logo2{
    border-radius: 50%;
    animation: logoAnime 5s infinite;
}

h1{
    color: #000080;
    text-shadow: 0 0 2px #000014;
}

section{
    height: 100vh;
    padding: 130px 0;
    border-bottom: 1px solid #000;
}

small{
    display: flex;
    justify-content: center;
}

#landing-sect{
    background: linear-gradient(270deg, #000080 20%, #2b42a2 48.76%, #87ceeb 97.52%);
    /* background-image: url('https://i.postimg.cc/Mpf7ypq8/340156560-197791849632812-1348234761244677952-n.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

#about-sect{
    height: auto;
}

#about-text{
    display: flex;
    align-items: center;
}

#testimonial-sect{
    height: auto;
}

#testimonial-pic{
    display: flex;
    justify-content: center;
}

#education-sect{
    height: auto;
}

#education-sect img{
    border-radius: 25px;
    position: relative;
    left: 38%;
}

#projects-sect{
    height: auto;
}

#projects-sect img{
    border-radius: 25px;
    position: relative;
    left: 38%;
    box-shadow: 0 0 7px #000;
}

#projects-sect img:hover{
    border-radius: 25px;
    position: relative;
    left: 37.8%;
    box-shadow: 0 0 12px #000;
    width: 305px;
}

#cards{
    padding: 2%;
}

#experience-sect{
    height: auto;
}

#skills-sect{
    height: auto;
}

#skills-sect img{
    position: relative;
    left: 55px;
}

#connect-sect{
    height: auto;
}


#form-sect{
    width: 40%;

}

#footer{
    background-color: #272727;
    height: auto;
}



@media screen and (max-width: 320px) {
    nav{
        box-shadow: 0 1px 5px #000;
        background-color: #f8f8f8cc;
    }

    #logo{
        display: none;

    }
    
    #logo2{
        border-radius: 50%;
        display: flex;
        justify-content: start;
    }

    section{
        border: none;
    }

    #smll-about{
        border-bottom: 1px solid #000;
    }

    #testimonial-sect{
        height: auto;
        border-bottom: 1px solid #000;
        padding-top: 120px;
    }

    #testimonial-pic{
        width: 200px;
        position: relative;
        left: 55px;
    }

    #education-sect{
        height: auto;
        border-bottom: 1px solid #000;
        padding-top: 180px;
    }

    #caela{
        position: relative;
        top: 30px;
        right: 47px;
    }

    #caela-name{
        position: relative;
        bottom: 225px;
    }

    #sphathi{
        position: relative;
        bottom: 390px;
    }

    #sphathi-text{
        position: relative;
        top: 200px;
    }

    #siya-name{
        position: relative;
        bottom: 180px;
    }

    #siya{
        position: relative;
        top: 50px;
    }

    #abdul{
        position: relative;
        bottom: 295px;
    }

    #abdul-text{
        position: relative;
        top: 200px;
    }

    #naeema-name{
        position: relative;
        bottom: 180px;
    }

    #naeema{
        position: relative;
        top: 50px;
    }

    #keziah-text{
        position: relative;
        top: 220px;
    }

    #keziah{
        position: relative;
        bottom: 375px;
    }

    #education-sect img{
        border-radius: 25px;
        position: relative;
        left: 30%;
        width: 100px;
        height: auto;
    }

    #projects-sect{
        border-bottom: 1px solid #000;
        }

    #projects-sect img{
        width: 120px;
        border-radius: 25px;
        position: relative;
        left: 32%;
        box-shadow: 0 0 7px #000;
    }

    #experience-sect{
        border-bottom: 1px solid #000;
    }
    #work-cards{
        width: 80%;
        position: relative;
        left: 25px;
        margin: 7% 0;
    }
    

    #skills-sect{
        height: auto;
        border-bottom: 1px solid #000;
    }

    #skills-sect img{
        position: relative;
        left: 80px;
        width: 90px;
    }

    #connect-icons{
        position: relative;
        left: 85px;
        top: 70px;
    }

    #form-sect{
        width: 100%;
    }

}
@media screen and (min-width: 321px) and (max-width: 720px) {
    nav{
        box-shadow: 0 1px 5px #000;
        background-color: #ffffffcc;
    }

    #logo{
        display: none;
    }
    
    #logo2{
        border-radius: 50%;
        display: flex;
        justify-content: start;
    }

    section{
        border: none;
        padding: 70px 0;
        border-bottom: 1px solid #000;
        
    }

    #smll-about{
        height: auto;
    }

    #abt-btn{
        position: relative;
        right: 15px;
    }

    #testimonial-sect{
        position: relative;
        top: 0px;
    }

    #testimonial-pic{
        width: 200px;
        position: relative;
        left: 55px;
    }

    #education-sect{
        height: auto;
        position: relative;
        top: -30px;
        left: 5px;
    }

    #caela{
        position: relative;
        top: 30px;
        right: 52px;
    }

    #caela-name{
        position: relative;
        bottom: 225px;
    }

    #sphathi{
        position: relative;
        bottom: 130px;
        left: 208px;
    }

    #sphathi-text{
        position: relative;
        top: 200px;
    }

    #siya-name{
        position: relative;
        bottom: 180px;
    }

    #siya{
        position: relative;
        top: 60px;
        left: 190px;
    }

    #abdul{
        position: relative;
        bottom: 110px;
        left: 210px;
    }

    #abdul-text{
        position: relative;
        top: 200px;
    }

    #naeema-name{
        position: relative;
        bottom: 180px;
    }

    #naeema{
        position: relative;
        top: 55px;
        left: 200px;
    }

    #keziah-text{
        position: relative;
        top: 220px;
    }

    #keziah{
        position: relative;
        bottom: 190px;
        left: 210px;
    }

    #education-sect img{
        border-radius: 25px;
        position: relative;
        left: 35.5%;
        width: 200px;
        height: auto;
    }

    #projects-sect{
        margin-top: 0px;
    }

    #projects-sect img{
        width: 200px;
        border-radius: 25px;
        position: relative;
        left: 36.5%;
        box-shadow: 0 0 7px #000;
    }

    #experience-sect{
        height: auto;
        position: relative;
        bottom: 0px;
    }
    #work-cards{
        width: 60%;
        position: relative;
        left: 105px;
        margin: 7% 0;
    }
    

    #skills-sect{
        padding-top: 55px;
    }

    #skills-sect img{
        position: relative;
        left: 37%;
        width: 90px;
    }
    
    #connect-sect{
        padding-top: 70px;
    }

    #form-sect{
        width: 60%;
    }

    footer{
        
    }
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
    nav{
        box-shadow: 0 1px 5px #000;
        background-color: #000;
    }

    nav a{
        color: #ffffff;
    }

    #projects-sect img {
        border-radius: 25px;
        position: relative;
        left: 34.5%;
        box-shadow: 0 0 7px #000;
    }

    #projects-sect img:hover{
        border-radius: 25px;
        position: relative;
        left: 34.7%;
        box-shadow: 0 0 12px #000;
        width: 305px;
    }

    #skills-sect img {
        position: relative;
        left: 35px;
    }
}

@keyframes logoAnime{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg)
    }
}