*{
    box-sizing: border-box;
}

body{

}

#navbar1{
    position: sticky;
    top: 0;
    z-index: 2;
}

#logo{
    border-radius: 50%;
}

#logo2{
    border-radius: 50%;
}

section{
    height: 100vh;
    padding: 110px 0;
    border-bottom: 1px solid #000;
}

small{
    display: flex;
    justify-content: center;
}

#landing-sect{
    background: linear-gradient(270deg, #000080 20%, #2b42a2 48.76%, #87ceeb 97.52%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

#about{
    height: 100vh;
    padding-top: 70%;
}

#about-text{
    display: flex;
    align-items: center;
}

#testimonial-sect{
    height: 380vh;
}

#testimonial-pic{
    display: flex;
    justify-content: center;
}

#education-sect{
    height: 100vh;
}

#education-sect img{
    border-radius: 25px;
    position: relative;
    left: 38%;
}

#projects-sect{
    height: 100vh;
}

#projects-sect img{
    border-radius: 25px;
    position: relative;
    left: 38%;
    box-shadow: 0 0 7px #000;
}

#projects-sect img:hover{
    border-radius: 25px;
    position: relative;
    left: 37.8%;
    box-shadow: 0 0 12px #000;
    width: 305px;
}

#cards{
    padding: 2%;
}

#skills-sect{
    height: 100vh;

}

#skills-sect img{
    position: relative;
    left: 44.5%;
}



@media screen and (max-width: 575px) {
    #logo{
        display: none;
    }
    
    #logo2{
        border-radius: 50%;
        display: flex;
        justify-content: start;
    }
}



@media screen and(min-width: 321px) and (max-width: 720px) {
    #logo{
        display: none;
    }
    
    #logo2{
        border-radius: 50%;
        display: flex;
        justify-content: start;
    }
}